<ion-modal-view>
  <div style="padding: 10px; padding-top: 80px;">
    <div class="list">
      <div style="height: 100%;
     width: 100%;
     display: block;
     justify-content: center;
     align-items: center;">
        <label class="item item-input item-stacked-label">
    <span class="input-label">Name of Bank</span>
    <input type="text" placeholder="Bank Name" ng-model="bankTitle">
  </label>
        <button class="button button-balanced" style="margin:0 auto; display:block; width: 30%; opacity: 0.6; padding-top: 10px;" ng-click="submitEdit(bankTitle)">
      Submit
    </button>
      </div>
    </div>
  </div>
</ion-modal-view>
