<ion-modal-view>
  <ion-content>
    <div class="list" style="margin: 13px">
      <label class="item item-input item-stacked-label">
    <span class="input-label">Full Name</span>
    <input type="text" placeholder="John Doe" ng-model="fullName">
  </label>
      <label class="item item-input item-stacked-label">
    <span class="input-label">Username</span>
    <input type="text" placeholder="JohnDoe8850" ng-model="username">
  </label>
      <label class="item item-input item-stacked-label">
    <span class="input-label">Email</span>
    <input type="text" placeholder="JohnDoe@gmail.com" ng-model="email">
  </label>
      <label class="item item-input item-stacked-label">
    <span class="input-label">Password</span>
    <input type="password" placeholder="password" ng-model="password">
  </label>
      <button class="button button-block button-balanced" ng-click="createAccountSubmit(fullName, username, email, password, false)" style="opacity: 0.8">
    Submit
  </button>
    </div>

  </ion-content>
</ion-modal-view>
