<ion-side-menus enable-menu-with-back-views="false">
  <ion-side-menu-content>
    <ion-nav-bar class="bar-royal" align-title="center">
      <ion-nav-title>{{titleMenu}}</ion-nav-title>
      <ion-nav-back-button>
      </ion-nav-back-button>
      <ion-nav-buttons side="left">
        <button class="button button-icon button-clear ion-navicon" menu-toggle="left"></button>
      </ion-nav-buttons>
      <ion-nav-buttons side="right">
        <button ng-show="showSearch" class="button button-icon button-clear ion-ios-search" ng-click="showSearchBar()"></button>
        <button ng-show="journalDelete" class="button button-icon button-clear ion-ios-trash-outline" ng-click="delete()"></button>
        <button ng-show="journalAdd" class="button button-icon button-clear ion-ios-plus-outline" ng-click="addJournalEntry()"></button>
      </ion-nav-buttons>

    </ion-nav-bar>
    <ion-nav-view name="menuContent"></ion-nav-view>
  </ion-side-menu-content>
  <ion-side-menu side="left" title="{{title}}">
    <ion-header-bar class="bar-royal">
    </ion-header-bar>
    <ion-content>
      <a menu-close href="#/app/home" class="item item-icon-left">
        <i class="icon ion-ios-list-outline"></i> Directory
      </a>
      <a menu-close href="#/app/journal" class="item item-icon-left">
        <i class="icon ion-ios-copy-outline"></i> Journal
      </a>
    <!--  <a menu-close href="#/app/weight" class="item item-icon-left">
        <i class="icon ion-ios-medkit-outline"></i> Weight Tracker
      </a>-->
      <a ng-show="upgraded" menu-close href="#/app/account" class="item item-icon-left">
        <i class="icon ion-ios-person-outline"></i> Account
      </a>
      <a ng-hide="upgraded" menu-close ng-click="upgrade()" class="item item-icon-left">
        <i class="icon ion-ios-person-outline"></i> Upgrade
      </a>
      <a menu-close href="#/app/about" class="item item-icon-left">
        <i class="icon ion-ios-people-outline"></i> About
      </a>

    </ion-content>
  </ion-side-menu>
</ion-side-menus>
